config.h
contrib/sigrok-cli-*-installer.exe
contrib/sigrok-cli_cross.nsi
sigrok-cli
sigrok-cli-*.tar.*
sigrok-cli.exe

CMakeCache.txt
CMakeFiles/
CPack*
_CPack*
cmake_install.cmake
install_manifest.txt
Makefile
